*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    background-color: transparent;
}
:root {
  /* Typography */
  --family-bebas: 'Bebas Neue', cursive;
  --family-popins:'Poppins', sans-serif;
  --fs-12: 12px;
  --fs-14: 14px;
  --fs-24: 24px;
  --fs-36: 36px;
  --fs-48: 48px;
  --fs-96: 96px;
  --fw-light: 300;
  --fw-500: 500;
  --fw-normal: 400;
  --fw-bold: 800;

  /* Colors */
  --primary: #2FDBBC;
  --location:#F99928;
  --white: #FFFFFF ;
  --dark: #2D2D2D ;
  --red: #F77272;
  /* Other */
  --radii: 0.5rem;
}

a:-webkit-any-link ,a:focus, a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

ul,
ol,
li{
    list-style: none;
}

img{
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: inherit;
    font-size: inherit;
}

html,
body, #root{
    height: 100%;
    line-height: 1;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh
}

body[data-theme='dark'] {
  --colors-text: var(--white);
  --colors-bg: var(--dark);
  --colors-ui-base: hsl(209, 23%, 22%);

}
body[data-theme='light'] {
  --colors-text: var(--dark);
  --colors-bg: var(--white);
  --colors-ui-base: hsl(0, 0%, 100%);

}

body {
  margin: 0;
  font-family: var(--family-bebas);
  color: var(--colors-text);
  font-weight: var(--fw-normal);
  background-color: var(--colors-bg);
}



